[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=lexa
Group=lexa

WorkingDirectory=/home/lexa/repository
Environment="PYTHONPATH=/home/lexa/repository"
ExecStart=/home/lexa/repository.venv/bin/python /home/lexa/repository/ubuntu18/some commits.py

[Install]
WantedBy=multi-user.target
